 <div class="left">
    <h1>CACATOIS</h1>
    <ul class="links">
      <li routerLinkActive="active">
          <a routerLink="login" >Login</a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="signup" >Sign Up</a>
      </li> 
      <li routerLinkActive="active">
          <a routerLink="aboutus" >About Us</a>
      </li> 
      <li routerLinkActive="active">
        <a routerLink="driverlogin" >Driver Login</a>
    </li> 
    </ul>
    </div>
   <router-outlet></router-outlet>  
 
